/*.d_1 p{
	text-indent: inherit;
	color: white;
	font-size: larger;
}
.d_1 a iframe{
	background-position: center;
}
.d_2 p{
	text-indent: inherit;
	color: white;
	font-size: larger;
}
.d_3 p{
	text-indent: inherit;
	color: white;
	font-size: larger;
}
.d_4 p{
	text-indent: inherit;
	color: white;
	font-size: larger;
	float: right;
}

*/
/*body {
	background-color: #B51622;
}*/
/*.learn {
	float: right;
	padding-top: 33px;
}
.thumbnail {
	width: 110%;
	height: 75%;
}*/
/*img {
	width: 200px;
	height: 200px;
	border-radius: 15px;
}*/
